﻿@{
    ViewData["Title"] = "Home Page";
}
    <div style="padding-top:100px">
        <code>

            {
            customerId:'1',
            customerName:'test',
            customMobileno:'1234567890',
            orderno:'123456',
            paymentmethod:'Online',
            OrderDate:'2020-04-30',
            <br />
            items:[{
            productcode:'123',
            orderSku:'12345',
            unitprice:'2000',
            description:'Testing product'
            }]
            }
        </code>
        <br />
        <br />
        <textarea rows="10" id="jsonarray" class="form-control">

</textarea>
        <button id="submitbtn">
            Submit
        </button>
    </div>
<script>
    $('#jsonarray').val("");
    $('#submitbtn').on('click', function () {
        $('#submitbtn').hide();
             $.ajax({
                type: "POST",
                processData: false,
                contentType: false,
                cache: false,
                async: false,
                contentType: 'application/json',
                url: "@Url.Action("PlaceOrder","Home")",
                data: $('#jsonarray').val(),
                 success: function (res) {
                     $('#submitbtn').show();
                     if (res == "ok") {
                         alert('Order Placed Please check in Database');
                         var x = window.confirm("Do you want to clear textbox");
                         if (x) {
                             $('#jsonarray').val("");
                         }
                         
                     }
                     else {
                         alert(res);
                     }
                },
                 error: function (data) {
                     alert(data);
                  $('#submitbtn').show();
                },
            });
        
        
})

</script>
